@charset 'UTF-8';

/* ===============================================
Base
=============================================== */

/*
  Reset
----------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  /* font: inherit; */
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* default style */

body {
  color: #333;
  font-family: '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic',
  'Meiryo UI', 'メイリオ', Meiryo, sans-serif;
  line-height: 1.5;
}

/* body {
  font: 1em/1.5 游ゴシック, sans-serif;
  color: #333;
  background-color: #fff;
} */

img {
  vertical-align: bottom;
}

/* ===============================================
==================================================
  Layout
==================================================
=============================================== */

/*
  Centering
----------------------------------------------- */
.container {
  margin: 0 auto;
  width: 960px;
  /* background-color: #eee; */
}

/* * {
  font-size: 1em;
  padding: 0;
  margin: 0;
} */

/*
  Header
----------------------------------------------- */
h1 a {
  color: #333;
  text-decoration: none;
}

h1 a:visited {
  color: #333;
}

.menu {
  position: fixed;
  top: 34px;
  right: auto;
  margin-left: 843px;
}

.select-lang {
  overflow: hidden;
}

.select-lang li {
  display: block;
  float: left;
  padding: 0 8px;
  text-align: center;
  line-height: 1;
}

.select-lang li:first-child {
  padding-left: 0;
}

.select-lang li + li {
  border-left: 1px solid #333;
}

.select-lang a {
  color: #333;
  text-decoration: none;
}

.select-lang a:hover {
  color: #333;
}

.other-lang a {
  color: #ddd;
}

/* .select-lang a:visited {
  color: #333;
} */

.global-nav {
  padding-top: 68px;
}

.nav-title {
  position: absolute;
  left: -1000px;
  color: transparent;
}

.nav-item {
  padding: 0 0 4px 0;
  color: #333;
  font-weight: bolder;
  font-size: 1em;
}

.nav-item a:visited {
  color: #333;
}

.nav-item a:hover {
  background-color: #333;
  /* text-decoration: underline; */
  color: #fff;
}

/*
  Main
----------------------------------------------- */
.main-content {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 790px;
  /* background-color: #ddd; */
}

/*
  Footer
----------------------------------------------- */
.footer {
  clear: both;
  padding: 100px 0 100px 0;
  /* background-color: #ddd; */
}

.copyright {
  position: fixed;
  right: auto;
  bottom: 60px;
  z-index: 1;
  margin-left: 801px;
  color: #ddd;
  font-size: .75em;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* ===============================================
==================================================
  Object: top page
==================================================
=============================================== */

/*
  Page title
----------------------------------------------- */
.title {
  margin-top: 30px;
  margin-left: 30px;
  text-transform: uppercase;
}

.page-title {
  padding: 0 0 15px 0;
  color: #333;
  font-weight: bolder;
  font-size: 1em;
  /* background-color: #ddd; */
}

/* .page-title a{
  text-decoration: none;
} */

.page-title a:visited {
  color: #333;
}

/*
  Grid
----------------------------------------------- */
.grid {
  font-size: 0;
  /* background-color: #ccc; */
}

.grid-item {
  display: inline-block;
  margin-left: 20px;
  width: 385px;
  vertical-align: top;
  font-size: medium;
  /* background-color: #ddd; */
}

.add-info {
  display: inline-block;
  color: #333;
  font-weight: lighter;
  font-size: .75em;
  /* background-color: #ddd; */
  /* width: 385px; */
}

.add-info li {
  display: block;
  float: left;
}

.add-info li + li {
  margin-left: 3px;
}

.grid-item:nth-child(odd) {
  margin-left: 0;
}

.fluid-image {
  margin-left: 279px;
  width: 526px;
}

.fluid-image .grid-item {
  float: left;
  margin-bottom: 20px;
  width: 250px;
}

/*
  Card
----------------------------------------------- */
.card {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  padding-top: 246px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  color: #333;
  text-decoration: none;
}

.card:hover {
  border-bottom: 1px solid #ccc;
}

.card-title {
  font-weight: bolder;
}

.card-image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 385px;
  /* background-color: #eee; */
}

/* ===============================================
==================================================
  Object: Works pages
==================================================
=============================================== */
.works-page-title {
  position: fixed;
  top: 0;
  right: auto;
  margin-top: 30px;
  margin-left: 0;
  padding-left: 30px;
  text-transform: uppercase;
}

.description {
  position: fixed;
  top: 84px;
  display: block;
  width: 264px;
  /* background-color: #eee; */
}

.description h2 {
  margin-bottom: 12px;
}

.description-text {
  margin-top: 12px;
  text-align: justify;
  font-size: .75em;
  line-height: 1.7;
}

.description-text p:last-of-type {
  padding-top: 12px;
}

.description-image {
  margin-left: 279px;
  /* background-color: #eee; */
}

.description-image + .description-image {
  margin-top: 100px;
}

.description-content:nth-child(2) {
  margin-top: 92px;
}

.description-content:last-child {
  margin-bottom: 250px;
}

.additional-text {
  margin-top: 100px;
  margin-left: 279px;
}

.additional-text h3 {
  display: block;
  margin-bottom: 15px;
  width: 170px;
  border-bottom: 1px solid #333;
}

.additional-text p {
  text-align: justify;
  font-size: .75em;
  line-height: 1.7;
}

.additional-info:first-of-type {
  margin-top: 100px;
}

.additional-info {
  margin-left: 279px;
  /* background-color: #eee; */
}

.additional-info + .additional-info {
  margin-top: 25px;
}

.additional-info h3 {
  display: block;
  margin-bottom: 15px;
  width: 80px;
  border-bottom: 1px solid #333;
  /* background: #eee; */
}

.additional-info a {
  color: #333;
  text-decoration: underline;
}

.additional-info a:hover {
  color: #999;
}

/* ===============================================
==================================================
  Object: Biography page
==================================================
=============================================== */
.bio-content {
  display: block;
  width: 640px;
  /* margin: 0 auto; */
  /* background-color: #ddd; */
}

.bio-title {
  margin-bottom: 5px;
}

.bio-item {
  display: block;
  /* margin: 20px 0; */
  /* background-color: #eee; */
}

.bio-item + .bio-item {
  margin: 20px 0;
}

.experience-item {
  display: block;
  /* background-color: #ddd; */
}

.experience-item + .experience-item {
  margin: 15px 0;
}

.experience-title {
  /* padding-left: 4px; */
  /* border-left: 2px solid #333; */
}

.experience-list {
  list-style-position: inside;
  list-style-type: square;
  text-align: justify;
}

.education-list {
  list-style-type: none;
}

/* ===============================================
==================================================
  Object: Contact page
==================================================
=============================================== */
.my-contact {
  font-style: normal;
}

/* ===============================================
==================================================
  other things
==================================================
=============================================== */

.superscript {
  vertical-align: super;
  font-size: .71em;
}

.current-page {
  /* text-decoration: underline; */
  color: #333;
}

.next-page {
  color: #333;
  text-decoration: none;
}

.previous-page {
  color: #333;
  text-decoration: none;
}

.first-page {
  color: #333;
  text-decoration: none;
}

.test {
  position: fixed;
  top: 0;
  left: 821px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 1200px;
  background-color: rgba(49, 49, 49, .514);
}
